@import './card';
@import './header';
@import './stars';


body {
  margin: 0;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 32px;
  justify-content: center;
  padding: 40px 0;
  background-color: #f8f8f8;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
